%box-predef{
		border: 1px dotted red;
		//margin: 1px;
		//padding: 2px;
		//margin: 0 auto;
}

.c1{
	@extend %box-predef;
	border-color: blue;
	display: flex;
	flex-flow: column;
}
.c2{
	@extend %box-predef;
	height: 200px;
	//width:100px;
	
}
.c3{
	@extend %box-predef;
	height: 200px;
//	margin: 0 auto;
}
